.welcome {
  padding: 0;
  margin-top: 0;
}

.task__done {
  text-decoration: line-through;
  color: white;
}

.ion-justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  font-size: 65px;
}

.check__align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
}

ion-content {
  --background: center / cover no-repeat
    url("../../assets/images/home-background.png");
}

#check__icon {
  font-size: 145px;
  color: #ffffff;
  box-shadow: 5px 5px 5px black;
}

ion-list {
  background: transparent;
}

#login__info {
  position: relative;
  top: 20px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  margin: 0 10px;
  --border-radius: 10px;
  --background: #250448;
}
#default__profile__pic {
  font-size: 30px;
  color: #ffffff;
  --margin-right: 30px;
}

ion-card-title {
  overflow-wrap: break-word;
}
