<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title> Todo App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item id="login__info">
    <ion-avatar>
      <ion-icon id="default__profile__pic" name="person"></ion-icon>
    </ion-avatar>
    <ion-label color="light"
      >Welcome back <strong>Tsvetomir!</strong></ion-label
    >
    <ion-icon color="warning" slot="end" name="pricetag"></ion-icon>
  </ion-item>
  <ion-list *ngIf="data.todoFormData.length > 0">
    <ion-card
      [color]="todo.isCompleted ? 'success' : 'danger' "
      *ngFor="let todo of data.todoFormData; let i = index"
    >
      <ion-card-header>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-card-subtitle [ngClass]="todo.isCompleted ? 'task__done' : ''"
          >Task No {{i + 1}}
        </ion-card-subtitle>
        <ion-card-title [ngClass]="todo.isCompleted ? 'task__done' : ''">
                <p>{{todo.title}}</p>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-chip (click)="onUpdate(todo)" color="light" outline="true">
          <ion-label color="light">Update <ion-icon color="light" slot="end" name="arrow-up-outline"></ion-icon></ion-label>
        </ion-chip>
        <ion-chip (click)="onDelete(todo)" color="light" outline="true">
          <ion-label color="light">Delete</ion-label>
          <ion-icon name="trash"></ion-icon>
        </ion-chip>
        <ion-chip color="light" outline="true">
          <ion-toggle
            name="kiwi"
            color="light"
            (ionChange)="changeToggle(todo)"
          >
          </ion-toggle>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-grid>
    <ion-row *ngIf="data.todoFormData.length == 0">
      <ion-col class="check__align" size="10" offset="1">
        <!-- <ion-icon color="primary" id="check__icon" name="checkbox"></ion-icon> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()" color="success">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
